---
import ForceClient from "../components/ForceClient.jsx";
---

<html>
  <head><title>Client Test</title></head>
  <body>
    <h1>Client Test Page</h1>
    <ForceClient client:only="react" />
  </body>
</html>